.toolbar {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    position: absolute;
    background-color: black;

    .toolbar-container {
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: bold;
        height: 100%;
        margin-left: 12px;

        .toolbar-git {
            display: flex;
            cursor: pointer;
            img {
                margin: 12px;
            }

            h3 {
                margin-right: 12px;
            }
        }
    }

   
}