.near-hub-search {
    width: 80%;
    text-align: end;
    margin: auto;

    input {
        width: 200px;
        height: 40px;
        border-radius:5px;
        font-size: 18px;
        color: grey;
    }

}